{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
{% endblock%}

{% block main %}
    <div class="content">
        <h2 class="page-title">Contact</h2>
        <p id="contact">You can reach me here: <br>
        <address>Lohmühlenstraße 65<br>
                12435 Berlin<br>
                Germany</address></p>
        <iframe id="maps-embed" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2429.2011442620033!2d13.444713615520573!3d52.493598445938396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84facba49b593%3A0xb3e68fc9c3f05cf0!2sCODE%20University%20of%20Applied%20Sciences!5e0!3m2!1sen!2sde!4v1677494699942!5m2!1sen!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
{% endblock %}