{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new.css') }}">
{% endblock%}


{% block main %}

    <h2 class="page-title">Write a new Article</h2>

    {% if article %}
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('manage.get_edit_article', article_id=article.id) }}">
    {% elif new_article %}
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('manage.post_article') }}">
    {% endif %}

        {% if article %}
            <input type="hidden" name="article_id" value="{% if article %}{{ article_id }}{% endif %}">
        {% endif %}

        <div id="your-article">
            <h3 class="sub-title" >Your Article</h3>
        </div>

        <div id="article-heading">
            
            <div id="article-heading-elements">

                <div id="article-icon">
                    <label class="heading-label" for="icon">Icon:</label>
                    <input class="heading-input" type="text" name="icon" id="icon" maxlength="30" value="{% if article %}{{ article.icon }}{% endif %}">
                </div>

                <div id="article-title">
                    <label class="heading-label" for="title">Title:</label>
                    <input class="heading-input" type="text" name="title" id="title" maxlength="80" value="{% if article %}{{ article.title }}{% endif %}">
                </div>
            </div>
        </div>  

        <div id="text-div">
            <!-- <label class="question-label" for="text">Text</label>
            <textarea type="text" name="text" id="text" maxlength="20000" rows="20" cols="40" placeholder="Your next article...">
                {% if article %}
                    {{ article.text }}
                {% endif %}
            </textarea> -->
            <input type="text" name="text" id="text" maxlength="20000" value="{% if article %}{{ article.text }}{% endif %}">
        </div>

        <div id="categories-div">
            <div>
                <h3 class="sub-title">Categories</h3>

                <ul id="category-list-new">

                {% for category in categories %}
                    <li class="category-li-new">
                        <label class="question-label"  for="category_{{ category.id }}">{{ category.category }}</label>
                        <input class="category-checkbox" type="checkbox" id="category_{{ category.id }}" name="categories" value="{{ category.id }}"
                            {% if category in ticked_categories %}
                                checked
                            {% endif %}>
                    </li>
                {% endfor %}

                </ul>
            </div>
        </div>

        <div id="image-div">
            <div>
                <h3 class="sub-title">Title image</h3>

                <div id="image-upload-field">
                    <!-- <label id="image-upload-label" class="question-label" for="article-image">Article Title Image</label> -->
                    <input id="image-upload-input" class="question-input"  type="file" id="article_image" name="article_image" accept=".png, .jpg, .jpeg, .gif, .svg" max-file-size="4 * 1024 * 1024">
                </div>

                <div class="form-image">
                    <label class="question-label" for="image_name">Image name</label>
                    <input class="question-input" type="text" name="image_name" id="image_name" maxlength="30" value="{% if article %}{{ article.image_name }}{% endif %}">
                </div>
                
                <div class="form-image">
                    <label class="question-label" for="image_alt">Image alternative description</label>
                    <input class="question-input" type="text" name="image_alt" id="image_alt" maxlength="80" value="{% if article %}{{ article.image_alt }}{% endif %}">
                </div>
            </div>
        </div>

        <div id="post-article-div">
        <input id="post-article" type="submit" value="Post Article">
        </div>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

{% endblock %}