{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_article.css') }}">
{% endblock %}

{% block main %}
    <div>
        <h2>Manage Articles</h2>
        <a href="{{ url_for('new_article.get_new_category') }}" alt="adding a new category"><button class="new_category" type="button">🏷️ Add new Category</button></a>
        <a href="{{ url_for('new_article.get_article') }}" alt="button leading to page for writing a new article"><button class="new_article" type="button">📄 Write new Article</button></a>    
    </div>
    <ul class="manage_article_list">
    {% for article in articles %}
        <li class="article_manage_li">
            <a id="article_manage_title" class="article_manage_button" href="../blog/{{ article.title | lower }}">
                <p class="manager_article_name">{{ article.icon }} {{ article.title }}</p>
            </a>
            <a class="article_manage_button" href="{{ url_for('new_article.get_edit_article', article_id=article.id) }}" alt="button leading to page for editing an article">
                <button type="button" >🖍️ Edit</button>
            </a>
            <form class="article_manage_button" action="{{ url_for('new_article.delete_article', article_id=article.id) }}" method="POST" onsubmit="return confirm('Are you sure?')" alt="Button for deleting this article">
                <button type="submit">🗑️ Delete</button>
            </form>
        </li>   
    {% endfor %}
    </ul>
{% endblock %}