/* Article formatting */

.blog-article {
    display: flex;
    justify-content: center;
}

.blog-article div{
    width: 475px;
}

@media screen and (max-width: 576px) {
    .blog-article div{
        width: 80vw;
    }
    
}

.heading-section {
    display: flex;
    align-items: center;
}

.article-title {
    font-size: 3vw;
    font-weight: 500;
    font-family: Lora;
}

#edit-article {
    font-size: 1.3vw;
    color: white;
    background-color: grey;
    padding: 2px 15px;
    border-radius: 20px;
    outline: none;
    text-decoration: none;
}

#edit-article:hover {
    background-color: black;
}


/* Category tags */

.article-categories {
    display: flex;
}
.category-tag {
    border: black solid 1px;
    color: black;
    background-color: none;
    border-radius: 10px;
    width: auto;
    font-size: 0.7vw;
    margin: 0 5px;
    padding: 0 10px;
}

/* text */

.blog-article .article-text {
    text-indent: 50px;
    font-family: Lora;
    font-size: 16px;
}

.article-text p::first-line {
    line-height: 3;
}