/* Article formatting */

.blog-article {
    width: 475px;
    padding: 0 20vw;
    align-items: center;
    line-height: 2;

}

.article-title {
    font-size: 50;
}

.article-categories {
    display: inline;
}
.category-tag {
    border: solid black;
    color: white;
    background-color: black;
    border-radius: 20px;
    width: auto;
}

.blog-article .article-text {
    text-indent: 50px;
    font: Montserrat;
}

.article-text p::first-line {
    line-height: 3;
}