/* Article formatting */

.blog-article {
    display: flex;
    justify-content: center;
}

.blog-article div{
    width: 500px;
}

@media screen and (max-width: 576px) {
    .blog-article div{
        width: 80vw;
    }
}

.heading-section {
    display: flex;
    align-items: center;
}

.article-title {
    font-size: 3vw;
    font-weight: 500;
    font-family: Lora;
}

#edit-article {
    font-size: 1.75vw;
    color: white;
    background-color: grey;
    padding: 0.1rem 1rem;
    border-radius: 20px;
    outline: none;
    text-decoration: none;
}

#edit-article:hover {
    background-color: black;
}


/* Category tags */

.article-categories {
    display: inline;
}

.category-tag {
    display: inline;
    border: black solid 1px;
    color: black;
    border-radius: 10px;
    margin: 0 0.25rem;
    font-size: 1.35vw;
    width: 1.2rem;
    padding: 0.5rem 0.75rem;
}


/* .article-categories {
    display: inline-block;
}
.category-tag {
    border: black solid 1px;
    color: black;
    background-color: none;
    border-radius: 10px;
    margin: 0 1rem;
    font-size: 1.25vw;
    width: 1.2rem;
    font-weight: 300;
    padding: 0.5rem 0.75rem;
} */

/* text */

.blog-article .article-text {
    text-indent: 3rem;
    font-family: Lora;
    font-size: 16px;
    line-height: 2;
}

.article-text p::first-line {
    line-height: 3;
}