/* General styles */

html {
    font-size: 20px;
    box-sizing: border-box;
}

main {
    margin:5vw 10vw;
}

/* General Typography */

h2 {
    font-family: Montserrat;
}

h3 {
    font-family: Montserrat;
}

p, 
li, 
a {
    font-family: Lato;
    font-size: 16px;
}

.page-title {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
}

/* Header and Main Navigation */

.blogname {
    text-decoration: none;
    color: black;
}

h1 { 
    font-family: Montserrat;     
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    margin-left: 0.5em;
}
    
.navbar {
    font-family: Montserrat;
    border-bottom: grey solid 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10vw;
    padding: 1rem 1.5rem;
}

/* .navbar {
    font-family: Montserrat;
    border-bottom: solid grey 2px;
    display:flex;
    gap:0.625%;
    align-items:stretch;
    margin: 0 10vw;
} */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu-item {
    display: inline;
}

.menu-item a{
    text-decoration: none;
    color:black;
    font-size: 14px;
    font-weight: 200;
    font-family: Montserrat;
    border-radius: 30px;
    width: 5%;
    padding:  0.5vw 1vw;
    margin: 1rem;
    flex:auto;
    text-align: center;
}

.menu-item a:hover {
    background: lightgrey;
}

.manage-menu a {
    font-weight: 200;
    font-family: Montserrat;
    font-size: 14px;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: black solid 0.5px;
    border-radius: 30px;
    padding:  0.5vw 1vw;
    margin: 1rem;
    flex:auto;
    text-align: center;

}

.manage-menu a:hover {
    background: black;
    color: white;
}


.hamburger {
    display: none;
}
  
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }


/* footer */

.footer {
    position: relative;
    bottom:0vw;
    text-align: right;
    font-size: 0.25vw;
    border-top: grey solid 2px;
    margin: 0 10vw;
    padding: 1rem 1.5rem;
}

#logout-button {
    text-decoration: none;
    padding: 0.25vw 0.75vw;
    color: black;
    font-size: 14px;
    line-height: 2;
    border-radius: 20px;
    border: black solid 0.75px;
}

#logout-button:hover {
    background-color: black;
    color: white;
}

.footer p {
    font-size: 14px;
}

/* Screen Sizes:
    - default screen width for desktop: >992px
    - screen size for tablet: 576-992px
    - screen size for mobile: <576px -> no grid applies; posts are displayed vertically in default html format */

@media screen and (max-width: 576px) {
    .hamburger {
        display: block;
        background-color: transparent;
        border: transparent;
        border-radius: 20px;
        padding: 5px 8px;
    }

    .hamburger:hover {
        background-color: lightgrey;
    }

    .menu {
        position: fixed;
        left: -500%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.8s top;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    
    .menu.active {
        left: 0;
    }

    .menu-item {
        margin: 2.5rem 0;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(-45deg)
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(45deg)
    }
}  


@media screen and (min-width: 576px) and (max-width: 992px) {
    #article-overview {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 3%;
        row-gap: 5%;
        column-count: 3;
    }

    h1 {
        text-align: center;
     }

    .hamburger {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #article-overview {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 3%;
        row-gap: 5%;
        column-count: 3;
    }

    h1 {
        text-align: center;
     }

     .hamburger {
        display: none;
    }

}

