/* General styles */

html {
    box-sizing: border-box;
}

/* General Typography */

h2 {
    font-family: Lato;
}

h3 {
    font-family: Lato;
}

p, 
li, 
a {
    font-family: Lato;
}

.page-title {
    font-family: Lato;
    font-weight: 300;
    font-size: 24px;
}

/* Header and Main Navigation */

.blogname {
    text-decoration: none;
    color: black;
}

.blogname h1 { 
    font-family: Lato;     
    font-weight: 300;
    text-decoration: none;
    font-size: 3vw;
}
    
.navbar {
    font-family: Lato;
    border-bottom: grey solid 0.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-inline-start: 0px;
}

.menu-item a {
    text-decoration: none;
    color:black;
    font-size: 1.75vw;
    font-weight: 300;
    font-family: Lato;
    border-radius: 30px;
    padding:  0.1rem 0.75rem;
    margin: 0.7rem;
    flex:auto;
    text-align: center;
}

.menu-item a:hover {
    background: lightgrey;
}
#manage-menu a,
.registration-button {
    font-size: 1.75vw;
    color: black;
    border: black solid 0.5px;
    border-radius: 30px;
    padding: 0.1rem 0.75rem;
    text-decoration: none;
}

#manage-menu a:hover,
.registration-button:hover {
    background: black;
    color: white;
}

.hamburger {
    display: none;
}
  
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }


/* footer */

.footer {
    position: relative;
    bottom:0vw;
    text-align: right;
    border-top: grey solid 0.5px;
    padding: 1rem 1.5rem;
}

.registration-area {
    display: flex;
    justify-content: right;
}

.footer p {
    font-size: 1.5vw;
}

/* Screen Sizes:
    - screen size for desktop: >1023px
    - screen size for laptop: 768-1023px
    - screen size for tablet: 576-767px
    - screen size for mobile: <576px */

@media screen and (max-width: 576px) {
    header,
    footer {
        margin: 16px;
    }

    main {
        margin: 4vw 16px;
    }


    .blogname h1 {
        font-size: 24px;
    }

    .navbar div {
        display: flex;
        justify-content: center;
    }

    .hamburger {
        display: block;
        background-color: transparent;
        border: transparent;
        border-radius: 20px;
        padding: 5px 8px;
    }

    .hamburger:hover {
        background-color: lightgrey;
    }

    .menu {
        position: fixed;
        list-style: none;
        left: -500%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.8s top;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    
    .menu.active {
        left: 0;
    }

    .menu-item,
    .registration-button {
        margin: 1rem 0;
    }

    .menu-item a,
    .registration-button a {
        font-size: 14px;
        font-weight: 300;
        padding: 0.5rem 1rem;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(-45deg)
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(45deg)
    }

    #article-overview {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 16px;
        column-count: 1;
    }
} 


@media screen and (min-width: 577px) and (max-width: 767px) {
    header,
    footer {
        margin: 16px;
    }

    main {
        margin: 4vw 16px;
    }

    .blogname h1 {
        font-size: 24px;
    }
    
    .navbar {
        display: block;
        justify-content: space-between;
        align-items: center;
    }

    .navbar div {
        display: flex;
        justify-content: center;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0 5vw;
    }

    #article-overview {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 16px;
        row-gap: 16px;
        column-count: 2;
    }

    .hamburger {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    header,
    footer {
        margin: 8px 64px;
    }

    main {
        margin: 4vw 64px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    
    #article-overview {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 16px;
        row-gap: 16px;
        column-count: 3;
    }

    h1 {
        text-align: center;
     }

     .hamburger {
        display: none;
    }
}


@media screen and (min-width: 1025px) {
    header,
    footer {
        margin: 8px 64px;
    }

    main {
        margin: 4vw 64px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    #article-overview {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 16px;
        row-gap: 16px;
        column-count: 3;
    }

}
