
/* General main section formatting */

/* Article Overview Formatting */

.blog-posts {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    width:100%;
    margin: 0 0vw;
}

.blog-posts img {
    width: 100%;
    border-radius: 20px;
}

#article-overview a {
    text-decoration: none;
    color: black;
}

.post-description {
    font-size: 1vw;
    text-indent: 5%;
}

#paginate-nav {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#paginate-nav a {
    text-decoration: none;
    padding:8px 18px;
    color: grey;
    border-radius: 20px;
    background-color: transparent;
    border: grey;
    margin: 0 30px;
}

#paginate-nav a:hover {
    background-color: grey;
    color: white;
}


/* contact page */

#maps-embed {
    width: 100%;
    margin-top: 0.5vw;
}