/* General main section formatting */

.page-title {
    font-family: Lato;
    font-weight: 600;
    font-size: 2vw;
}

/* Article Overview Formatting */

.blog-posts {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    width:100%;
    margin: 0 0vw;
}

.blog-posts img {
    width: 100%;
    border-radius: 20px;
}

#article-overview a {
    text-decoration: none;
}

.post-description {
    font-size: 2vw;
    text-align: center;
    color: black;
    margin: 0.5rem 0;
}

/* pagination */

#paginate-nav {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#paginate-nav a {
    text-decoration: none;
    padding:8px 18px;
    color: black;
    border-radius: 20px;
    background-color: transparent;
    border: black solid 1px;
    margin: 0 30px;
}

#paginate-nav a:hover {
    background-color: black;
    color: white;
    border: none;
}

.registration-area {
    display: flex;
    justify-content: right;
}


/* contact page */

#maps-embed {
    width: 100%;
    margin-top: 0.5vw;
}

/* Registration & Login pages */

.registration-form {
    display: flex;
    justify-content: center;
}

.registration-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 35vw;
    justify-content: center;
    margin-bottom: 1vw;
    font-family: Lato;
    font-size: 2vw;
}

.registration-field input {
    margin-left: 5vw;
    border: black solid 0.5px;
    border-radius: 20px;
    align-items: center;
}

.registration-button {
    text-decoration: none;
    padding: 1px 10px;
    color: black;
    background-color: transparent;
    font-size: 14px;
    line-height: 2;
    border-radius: 20px;
    border: black solid 0.75px;
}

.registration-button:hover {
    background-color: black;
    color: white;
}