/* Manage articles styling */

.page-title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title-section page-title {
    align-self: flex-start;
}

.page-title-section div {
    display: flex;
    justify-content: flex-end;
}

.new-buttons {
    vertical-align: middle;
    margin-left: 20px;

}

.new-buttons button {
    border-radius: 20px;
    padding: 5px 10px;
}

.new-buttons button:hover {
    background: grey;
}

.new-buttons button:visited {
    text-decoration: none;
}

.article-manage-li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.manager-article-name {
    font-size: 24;
}

.article-manage-div {
    display: flex;
    align-items: right;
    margin: 0 20vw;
}

.article-manage-button button{
    background-color: white;
    border: none;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
}

.article-manage-button button:visited {
    color: black;
}

.article-manage-button button:hover {
    background-color: grey;
}

#article-manage-title {
    text-decoration: none;
}

/* Category page styling */

.category-list {
    list-style: none;
}

.category-manage-li {
    display: flex;
    margin: 20px 0;
}

.category-manage-name {
    border: none;
    border-radius: 20px;
}

.category-manage-name:focus {
    outline: none;
}

.category-manage-button {
    margin-left: 50px;
}

.category-manage-button button {
    border-radius: 20px;
}

#new-category-name:focus::placeholder {
    color: transparent;
}

#new-category-save {
    border: none;
    background-color: darkgrey;
    color: white;
    padding: 0 16px;
    border-radius: 20px;
}

#new-category-save:hover {
    background-color: black;
}

/* .category-manage-button button:hover {
    border-radius:20px;
    background-color: grey; */

/* write articel page styling */

.sub-title {
    font: Montserrat;
    font-weight: 200;
    font-size: 12;
}