/* Manage articles styling */

.page-title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;

}

.page-title-section div {
    display: flex;
    justify-content: flex-end;
}

.page-title {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
}

.new-buttons {
    vertical-align: middle;
    margin-left: 20px;
}

.new-buttons button {
    border-radius: 20px;
    padding: 3px 20px;
    color: white;
    background-color: grey;
    border: none;
}

.new-buttons button:hover {
    background: black;
    cursor: pointer;
}

.new-buttons button:visited {
    text-decoration: none;
}

/* list of articles to edit */

.article-ul {
    margin-right: 40px;
}

.article-manage-li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#article-manage-title {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

#article-manage-title p {
    font-size: 20px;
    font-weight: 500;

}

.article-manage-div {
    display: flex;
    align-items: right;
}

.article-manage-button button{
    background-color: white;
    border: none;
    text-decoration: none;
    margin: 0 60px 0 10px;
    padding: 3px 17px;
    border-radius: 30px;
    font-size: 16px;
}

.article-manage-button button:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.lower-new-button {
    text-decoration: none;
    margin-left: 40px;
}

.lower-new-button p {
    font-size: 18px;
    font-weight: 400;
    color: grey;
    font-family: Montserrat;
    margin: 50px;
}