/* General styles */

html {
    font-size:20px;
    box-sizing: border-box;
}

main {
    margin:5vw 10vw;
}

.footer {
    position: relative;
    bottom:0vw;
    margin: 0 10vw 0 0;
    text-align: right;
}

button {
    border:none;
    color: black;
    text-decoration: none;
    text-align: center;
    background-color: white;
}

button:hover {
    background-color: grey;
    
}
/* General Typography */

h2 {
    font-family: Montserrat;
    font-size: 1.3vw;
    font-weight: 500;
}

h3 {
    font-family: Montserrat;
    font-size: 1vw;
}


p, 
li, 
a {
    font-family: Lato;
    font-size: 16px;
}

.footer {
    font-size: 0.25vw;
}

/* General main section formatting */

/* Article Overview Formatting */

.blog-posts {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    width:100%;
    margin: 0 0vw;
}

.blog-posts img {
    width: 100%;
    border-radius: 20px;
}

#article-overview a {
    text-decoration: none;
    color: black;
}

.post-description {
    font-size: 1vw;
    text-indent: 5%;
}


/* contact page */

#maps-embed {
    width: 100%;
    margin-top: 0.5vw;
}