{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/articles.css') }}">
{% endblock%}

{% block aside %}{% endblock %}

{% block main %}
    <article class="blog-article">
        <!-- {% for category in categories %}
            <div>{{ Category</div> -->
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('new_article.edit_article', article_id=article.id) }}" alt="button leading to editor form for this article"><button type="button">🖍️ Edit</button></a>
        {% endif %}

        <h2>{{ title }}</h2>

        <p>{{ text }}</p>
    </article>
{% endblock %}