<!DOCTYPE html>
<html lang="en-US">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width">
            <meta name="author" content="Thomas Plattner">
            <meta name="description" content="This is my SE foundations handin">
            <link rel="icon" href="{{ url_for('static', filename='/images/favicon.jpg') }}">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
            {% block head %}{% endblock %}
            <title>Thomas' Blog - {% block title %}{% endblock %}</title>
    </head>

    <body>
        <header>
            <nav class="navbar">
                <div>
                    <a class="blogname" href="{{ url_for('general_pages.index') }}" alt="Go to homepage"> 
                        <h1>Thomas' Blog</h1>
                    </a>   
                </div> 

                <ul class="menu">
                    <li class="menu-item">
                        <a href="{{ url_for('general_pages.index') }}" alt="Go back to homepage">Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="{{ url_for('general_pages.about') }}" alt="Read more about Thomas">About</a>
                    </li>
                    <li class="menu-item">
                        <a href="{{ url_for('general_pages.contact') }}" alt="Contact Thomas">Contact</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li id="manage-menu" class="menu-item">
                        <a href="{{ url_for('manage.manage_articles') }}" alt="Button leading to article management page">Manage</a><br>
                    </li>
                    {% endif %}
                </ul>

                <button class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>    
    
            </nav>  
        </header>

        <aside class="aside">
        {% block aside %}{% endblock %}
        </aside>

        <main>
        {% block main %}
            {{message}}
        {% endblock %}
        </main>

        <footer class="footer">
            {% if not current_user.is_authenticated %}
            <div class="registration-area">
                <a class="registration-button" href="{{ url_for('users.get_register') }}" alt="Button leading to register page">Register</a><br>
                <a class="registration-button" href="{{ url_for('users.login') }}" alt="Button leading to login page">Login</a>
            </div>
            {% endif %}
    
            {% if current_user.is_authenticated %}
                <p><em>Logged in as {{ current_user.email }}</em></p>
                <a class="registration-button" href="{{ url_for('users.logout') }}" alt="Button to log out">Logout</a>
            {% endif %}
            <p>Thomas Plattner, 2023</p>
        </footer> 

        <script>
            // Hamburger menu - followed tutorial on https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci
            const hamburger = document.querySelector(".hamburger")
            const menu = document.querySelector(".menu")

            hamburger.addEventListener("click", toggleMenu)

            function toggleMenu() {
                hamburger.classList.toggle("active")
                menu.classList.toggle("active");
            }        
        </script>

    </body>

</html>